@model SearchResultsViewModel
@{
    ViewData["Title"] = "Search Results";
}

<h2>
    Search Results
</h2>
<hr />
<ul>
    @foreach (var entry in Model.Entries)
    {
        <li>
            <span>
                @entry.cn - @entry.mail
            </span>
        </li>
    }
</ul>
